.icon-wrapper .icon {
  max-width: unset;
  padding: 0;
}

.icon-wrapper {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.icon-wrapper img {
  object-fit: cover;
  width: 150px;
  height: 150px;
}

@media (width >= 900px) {
  .icon-wrapper {
    padding: 40px 32px;
  }
}
